.header__main-illustration {
  display: flex;
  position: absolute;
  background-image: url(/images/header-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 768px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 3;
}